---
import Layout from "@/Layout.astro";
import {Icon} from "astro-icon/components"
---
<Layout title="gmes - bromine" desc="bromine's gmes page">
  <script
		src="@/utils/gmes.ts"
		></script>


<div class="w-full sticky top-0 z-50 backdrop-blur backdrop-opacity-70 shadow-md flex justify-center py-3">
	<input 
		id="search" 
		type="text" 
		placeholder="Search gmes..." 
		class="bg-surface text-text focus:outline-none shadow rounded-md w-1/2 px-4 py-2"
	>
</div>


	<section id="gmeContainer"></section>
<script async="async" data-cfasync="false" src="//learningbuildingroughly.com/b113e1888ef757be96cdcc722c0f31c8/invoke.js"></script>
	<div id="container-b113e1888ef757be96cdcc722c0f31c8"></div>


<div
  id="gmePageContainer"
  class="hidden fixed inset-0 z-[999] bg-surface/90"
>
  <!-- Title on the top-left -->
  <h2
    id="gmePageTitle"
    class="z-50 absolute top-[15px] left-[20px] text-3xl font-bold text-white"
  ></h2>

  <!-- Close button on the top-right -->
  <button
    id="backBtn"
    class="z-50 flex items-center absolute top-[15px] right-[20px] px-4 py-2 text-text cursor-pointer bg-highlight-med/70 text-white rounded-lg border-0 hover:bg-surface/70 transition"
  >
    <Icon name="ph:x" class="size-5" />
    Close
  </button>

  <!-- Fullscreen iframe -->
  <iframe
    id="gmePageFrame"
    class="absolute top-0 left-0 w-full h-full border-none"
    allowfullscreen
  ></iframe>
</div>

</Layout>
